<div
  class="flex flex-col bg-[var(--color-surface)] justify-center items-center w-36 h-60 shadow-md rounded-md"
>
  <div class="relative mt-0 w-36 h-48 group">
    <img
      [src]="'http://localhost:8080/' + movieItem.posterUrl"
      alt="Poster"
      class="w-full h-full object-cover rounded-t-md"
    />

    <div
    class="absolute bottom-0 left-0 right-0 bg-black/60 w-full flex flex-row justify-between items-center py-1 px-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
  >
    <span class="material-symbols-outlined text-sm cursor-pointer">favorite</span>
    <span class="material-symbols-outlined text-sm cursor-pointer">visibility</span>
    <span class="material-symbols-outlined text-sm cursor-pointer">shopping_cart</span>
  </div>
  </div>

  <span #titleRef class="truncate max-w-32 text-sm p-2" [matTooltip]="movieItem.title"
  matTooltipShowDelay="500" [matTooltipDisabled]=" !isTextOverflowing(titleRef)"
  >
    {{ movieItem.title }}</span
  >
  <span class="text-xs italic pb-1">
     ({{ movieItem.year }})
  </span>
</div>
