name: Deploy Angular to S3 + CloudFront

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build all projects
        run: npx nx run-many --target=build --all --exclude=@stream-platform/source

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Upload all apps to S3
        run: |
          aws s3 sync dist/shell/ s3://${{ secrets.S3_BUCKET }} --delete
          aws s3 sync dist/auth/ s3://${{ secrets.S3_BUCKET }}/auth --delete
          aws s3 sync dist/movies/ s3://${{ secrets.S3_BUCKET }}/movies --delete
          aws s3 sync dist/payment/ s3://${{ secrets.S3_BUCKET }}/payment --delete
          aws s3 sync dist/dashboard/ s3://${{ secrets.S3_BUCKET }}/dashboard --delete
          aws s3 sync dist/users/ s3://${{ secrets.S3_BUCKET }}/users --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
          --paths "/*"
